.App {
  margin-top: 56px;
  background-color: rgb(80, 11, 80);

}
.placing
{
  background-color: rgb(80, 11, 80);
}

.App-header {
  background-color: purple;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:wheat;
}
.main
{
  align-items: center;
  display: flex;

}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:rgb(80, 11, 80);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background-color: #8c27aa ;
  color:rgb(80, 11, 80);
  align-items: center;
  display: flex;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}